.menu {
  display: flex;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.menu li {
  margin: 0 1rem;
}

.animes {
  display: flex;
  flex-wrap: wrap;
}

.animes img {
  height: 25rem;
  width: 25rem;
  padding: 0 1rem;
}
